/* login-mbl-block {
    display: none !important;
} */

.text-start {
  text-align: left !important;
}
.mbl-container {
  min-height: 80vh;
}
@media (max-width: 768px) {
  .login-mbl-block {
    display: block;
    max-width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 10px 0;
  }
  .login-pc-block {
    display: none;
  }
}

@media (min-width: 768px) {
  .login-mbl-block {
    display: none;
  }
  .login-pc-block {
    display: block;
  }
}
.login-pc-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.info-box {
  background: #3e3f6a;
  padding: 17px;
  margin: 25px 0px 25px 0px;
  border-radius: 10px;
}

.login-field {
  width: 300px;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-field-2 {
  width: 185px;
  color: #e1e1e1;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* display: inline-flex; */
}

.login-button-2 {
  /* display: inline-flex; */
  background-color: #331255;
  color: white;
  width: 120px;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.input-field {
  width: 100%;
  /* padding: 10px; */
  margin: 5px 0px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.login-field:hover {
  border-color: #6c5ce7;
  box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

.login-button {
  background-color: #331255;
  color: white;
  width: 300px;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-button {
  background-color: #331255;
  color: white;
  width: 100%;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.add-button {
  background-color: #00753b;
  color: white;
  width: 100%;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #580052;
}

.checkbox-error {
  background-color: #ff0000;
}

input[type="text"] {
  color: #e1e1e1;
}
input[type="password"] {
  color: #e1e1e1;
}
input[type="email"] {
  color: #e1e1e1;
}
textarea {
  color: #e1e1e1;
}
input[type="file"] {
  color: #e1e1e1;
}
input[type="file"]::file-selector-button {
  /* border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em; */
  background-color: #a29bfe;
  transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #81ecec;
  /* border: 2px solid #81ecec; */
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.danceImg {
  position: relative;
  animation: moveUpDown 2s ease-in-out infinite;
}
