.pcontainer {
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  color: #e1e1e1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.event-info.scrollable {
  display: flex;
  flex-wrap: wrap;
}

.fadeText {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.5s, transform 0.5s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-details > .event-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  animation: LeftToRight 1s ease-in-out forwards;
}

@media (max-width: 768px) {
  .pcontainer {
    margin: 12px;
    padding: 20px;
  }
}

.text-yellow {
  color: #b2b6ff;
  font-size: 24px;
  animation: BottomToTop 1s ease-in-out forwards;
}

spanText {
  color: #e1e1e1;

  /* margin: 10px 0px 10px 0px !important; */
}

.reg-items {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
}

.reg-btn {
  height: 70px;
  width: 160px;
  padding: 22px 10px 10px 23px;
  border: 1.8px solid #4c4ca6;
  color: #dfe6e9;
  text-decoration: none !important;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

button.reg-btn {
  height: 70px;
  width: 160px;
  padding: 15px 10px 10px 23px;
  border: 1.8px solid #4c4ca6 !important;
  background: none !important;
  color: #dfe6e9;
  text-decoration: none !important;
  transition: background-color 0.3s ease;
  font-size: 18px;
}
button.reg-btn-success {
  height: 70px;
  width: 160px;
  padding: 15px 10px 10px 13px;
  border: 1.8px solid rgb(2, 148, 46) !important;
  background: rgb(2, 148, 46) !important;
  color: #dfe6e9;
  text-decoration: none !important;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.reg-btn:hover {
  background-color: #4c4ca6;
  color: #fff;
}
button.reg-btn:hover {
  background-color: #4c4ca6 !important;
  color: #fff;
}

.reg {
  padding: 10px;
  height: 70px;
  width: 70px;
  background-color: #4c4ca6;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: start; */
  /* flex-direction: row; */
  /* border-radius: 50%; */
}

.reg > div.num {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  /* margin-top: 5px; */
  /* display: block !important; */
}
.reg > div.txt {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  /* margin-top: 5px; */
  /* display: block !important; */
}

spanText.sm {
  padding: 3px 5px 1px 5px !important;
  font-size: 14px;
}
span.sm {
  padding: 3px 5px 1px 5px !important;
  font-size: 14px;
  width: fit-content;
}
spanText.bg-indigo {
  background-color: #6c5ce7;
}
spanText.bg-blue {
  background-color: #0984e3;
}
spanText.bg-green {
  background-color: #00b894;
}
spanText.bg-yellow {
  background-color: #fdcb6e;
}
spanText.bg-orange {
  background-color: #e17055;
}
spanText.bg-red {
  background-color: #d63031;
}
spanText.bg-pink {
  background-color: #ff7675;
}
spanText.bg-gray {
  background-color: #636e72;
}
spanText.bg-black {
  background-color: #2d3436;
}
spanText.bg-white {
  background-color: #dfe6e9;
}
span.eTags {
  background-color: #6da23a;
  padding: 5px !important;
}
span.eTagsTitle {
  padding: 5px !important;
}
span.eTagsTitle.bg-purple {
  /* padding: 5px !important */
  background-color: #fff;
  color: #6da23a;
}
spanText.mr-2 {
  margin-right: 5px;
}
span.mr-2 {
  margin: 5px 5px 2px 0px;
}

spanText.s17 {
  font-size: 17px;
}
spanText.p6 {
  padding: 6px 10px 6px 6px;
}
spanText.p8 {
  padding: 8px 10px 8px 8px;
}
spanText.bg-purple {
  background-color: #b70eb4;
}

spanText.bold {
  font-weight: bold;
}
spanText.italic {
  font-style: italic;
}
spanText.underline {
  text-decoration: underline;
}
spanText.rounded {
  border-radius: 10px;
}
spanText.glowing {
  animation: glowingText 2s infinite;
}
spanText.rounded-corner {
  border-radius: 5px;
}
span.rounded-corner {
  border-radius: 5px;
}

@keyframes subtleGlow {
  0%,
  100% {
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(158, 0, 87, 0.8);
  }
}

@keyframes glowingText {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 1), 0 0 60px rgba(255, 255, 255, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes BottomToTop {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #b70eb4;
  font-size: 24px; /* Updated font size for h1 and h2 */
}

.text-purple {
  color: #b70eb4;
}

h2 {
  color: #b70eb4;
  font-size: 20px; /* Updated font size for h1 and h2 */
}

p {
  color: #e1e1e1;
  line-height: 1.6;
  font-size: 16px; /* Default font size for paragraphs */
}

h2 {
  margin-top: 20px;
  color: #b70eb4;
}

.speaker-dp {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-right: 10px; */
}

.speaker-gap {
  margin-right: 20px !important;
  margin-top: 20px !important;
}

@media (min-width: 768px) {
  .event-image {
    width: 70%;
    margin-bottom: 30px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px; /* Adjust the radius as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties as needed */
  }
}

@media (max-width: 768px) {
  .speaker-dp {
    width: 70px;
    height: 70px;
  }
  .event-image {
    max-width: 100%;
    margin-bottom: 20px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px; /* Adjust the radius as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.speaker-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.speaker-item {
  display: block;
  align-items: center;
  margin-bottom: 10px;
}

.speaker-name {
  font-size: 16px;
}

.registered-users-section {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink 75%, pink 0);
}

@keyframes expandBorder {
  to {
    border: 8px solid green;
  }
}
.progress-container {
  position: relative;
  width: 10%;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 10%;
  /* background-color: green; */
  transition: width 1s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0px 5px 0px 5px !important;
}

.progress-bar-inner {
  position: relative;
}

.progress-text {
  position: absolute;
  /* top:0%;
    left: 50%; */
  transform: translate(-50%, -70%);
  font-size: 30px;
  font-weight: bold;
  color: #6da23a;
}
.progress-text.nb {
  position: absolute;
  /* top:50%;
    left: 50%; */
  transform: translate(-50%, -55%);
  font-size: 18px;
  font-weight: bold;
  color: #6da23a;
}
.progress-text.hf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
  color: #6da23a;
}

.progress-text.sm {
  position: absolute;
  /* top: 50%;
    left: 50%; */
  transform: translate(-50%, 20%);
  font-size: 10px;
  font-weight: bold;
  color: #6da23a;
}

.inblock {
  display: flex;
  justify-content: center;
}

.test {
  display: block;
}
