/* global.css */

#root {
  min-height: 100%;
  position: relative;
}


@keyframes bgAnimate {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 120% 120%;
  }
}
::selection {
  background: #002958;color:#fff;
}
::-moz-selection {
  background: #002958;color:#fff;
}
body {
  font-family: 'Overpass', sans-serif !important;
  font-size: 15px !important;
  min-height: 80vh;
  background: linear-gradient(45deg, #5a0052, #002958);
  background-size: 400% 400%;
  /* background-attachment: fixed;  */
  /* background-size: 100% 100%;  */
  /* animation: bgAnimate 10s linear infinite alternate; */
  -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

  body::-webkit-scrollbar {
    width: 0em; /* Set the width of the scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 0.5em; /* Rounded corners */
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }

  

  .slide-fade-in {
    opacity: 0;
    transform: translateY(10px); /* Start from below the viewport */
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }
  
  .slide-fade-in.active {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }